/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 09-Mar-2022, 6:53:42 PM
    Author     : Meron
*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #36454f;
}
.main{
    width: 800px;
    height:90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
.inner{
    padding: 12px 20px;
    width: 800px;
    height:95%;
    background-color: white;
}
input[type=text],select {
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse ;
  width: 100%;
}

th, td {
  padding: 10px;
}
label {
        display: inline-block;
        width: 80px;
        text-align: right;
      }